<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/console.css"/>
        <link rel="stylesheet" type="text/css" href="/css/menu.css"/>
    </head>
    <body>
        <div th:replace="fragments:: header('Actuators')"/>
        <div class="desktop">
            <table class="split">
                <td class="split-left">
                    <div class="list">
                        <th:block th:each="actuator: ${actuators}">
                            <div th:class="${actuator.actuatorUuid.equals(actuatorUuid) ? 'list-item-selected' : 'list-item'}">
                                <a th:href="@{'/console/actuators/' + ${actuator.actuatorUuid}}">
                                    <b>[[${actuator.name}]]</b> ([[${actuator.actuatorUuid}]])
                                </a>
                            </div>
                        </th:block>
                    </div>
                </td>
                <td class="split-right">
                    <div th:if="${actuator != null}" class="section">
                        <div class="property">Name: <span class="highlight">[[${actuator.name}]]</span></div>
                        <div class="property">Id: <span class="highlight">[[${actuator.actuatorId}]]</span></div>
                        <div class="property">Uuid: <span class="highlight">[[${actuator.actuatorUuid}]]</span></div>
                        <div class="property">Version: <span class="highlight">[[${actuator.version}]]</span></div>
                        <div class="property">Description: <span class="highlight">[[${actuator.description}]]</span></div>
                        <div class="property">Configuration: <span class="highlight">[[${actuator.configuration}]]</span></div>
                        <div class="property"></div>
                    </div>
                </td>
            </table>
        </div>
    </body>
</html>