<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/console.css"/>
        <link rel="stylesheet" type="text/css" href="/css/menu.css"/>
        <script>
            function switchItem() {
                var idSelector = document.getElementById("itemSelector");
                window.location.href = "/console/collectors/" + idSelector.options[idSelector.selectedIndex].value;
            }
        </script>
    </head>
    <body>
        <div th:replace="fragments:: header('Actuator')"/>
        <div class="desktop">
            <th:block th:if="${actuatorId == null}">
                <div class="property">Pick an actuator from the list:
                    <select th:id="itemSelector" onchange="switchItem()">
                        <option></option>
                        <option th:each="actuator: ${actuators}" th:value="${actuator.uuid}"
                                th:text="|${actuator.name}|" />
                    </select>
                </div>
            </th:block>
            <th:block th:if="${actuatorId != null}">
                <div class="section">
                    <div class="property">Actuator:
                        <select th:id="itemSelector" onchange="switchItem()">
                            <option th:each="actuator: ${actuators}" th:value="${actuator.uuid}"
                                    th:text="|${actuator.name}|" th:selected="${actuator.uuid.equals(actuatorId)}" />
                        </select>
                    </div>
                    <div class="property">UUID: <span class="highlight">[[${actuator.uuid}]]</span></div>
                    <div class="property">Name: <span class="highlight">[[${actuator.name}]]</span></div>
                    <div class="property">Description: <span class="highlight">[[${actuator.description}]]</span></div>
                    <div class="property">From Thing: <span class="highlight">[[${actuator.ref}]]</span></div>
                    <div class="property"></div>
                </div>
                <div th:replace="fragments:: bindings(${senders}, ${listeners})"/>
            </th:block>
        </div>
    </body>
</html>