<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/console.css"/>
        <link rel="stylesheet" type="text/css" href="/css/menu.css"/>
        <script>
            function switchItem() {
                var idSelector = document.getElementById("itemSelector");
                window.location.href = "/console/appliances/" + idSelector.options[idSelector.selectedIndex].value;
            }
        </script>
    </head>
    <body>
        <div th:replace="fragments:: header('Appliances')"/>
        <div class="desktop">
            <th:block th:if="${applianceId == null}">
                <div class="property">Pick an appliance from the list:
                    <select th:id="itemSelector" onchange="switchItem()">
                        <option></option>
                        <option th:each="appliance: ${appliances}" th:value="${appliance.uuid}"
                                th:text="|${appliance.name}|" />
                    </select>
                </div>
            </th:block>
            <th:block th:if="${applianceId != null}">
                <div class="section">
                    <div class="property">Appliance:
                        <select th:id="itemSelector" onchange="switchItem()">
                            <option th:each="appliance: ${appliances}" th:value="${appliance.uuid}"
                                    th:text="|${appliance.name}|" th:selected="${appliance.uuid.equals(applianceId)}" />
                        </select>
                    </div>
                    <div class="property">UUID: <span class="highlight">[[${appliance.uuid}]]</span></div>
                    <div class="property">Name: <span class="highlight">[[${appliance.name}]]</span></div>
                    <div class="property">Description: <span class="highlight">[[${appliance.description}]]</span></div>
                    <div class="property">Category: <span class="highlight">[[${appliance.type}]]</span></div>
                    <div class="property"></div>
                </div>
                <div th:replace="fragments:: bindings(${senders}, ${listeners})"/>
            </th:block>
        </div>
    </body>
</html>