<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/console.css"/>
        <link rel="stylesheet" type="text/css" href="/css/menu.css"/>
        <script>
            function switchItem() {
                var idSelector = document.getElementById("itemSelector");
                window.location.href = "/console/collectors/" + idSelector.options[idSelector.selectedIndex].value;
            }
        </script>
    </head>
    <body>
        <div th:replace="fragments:: header('Collector')"/>
        <div class="desktop">
            <th:block th:if="${collectorId == null}">
                <div class="property">Pick a collector from the list:
                    <select th:id="itemSelector" onchange="switchItem()">
                        <option></option>
                        <option th:each="collector: ${collectors}" th:value="${collector.id}"
                                th:text="|${collector.name}|" />
                    </select>
                </div>
            </th:block>
            <th:block th:if="${collectorId != null}">
                <div class="section">
                    <div class="property">Collector:
                        <select th:id="itemSelector" onchange="switchItem()">
                            <option th:each="collector: ${collectors}" th:value="${collector.id}"
                                    th:text="|${collector.name}|" th:selected="${collector.id.equals(collectorId)}" />
                        </select>
                    </div>
                    <div class="property">UUID: <span class="highlight">[[${collector.id}]]</span></div>
                    <div class="property">Name: <span class="highlight">[[${collector.name}]]</span></div>
                    <div class="property">Description: <span class="highlight">[[${collector.description}]]</span></div>
                    <div class="property">From Thing: <span class="highlight">[[${collector.ref}]]</span></div>
                    <div class="property"></div>
                </div>
                <div th:replace="fragments:: bindings(${senders}, ${listeners})"/>
            </th:block>
        </div>
    </body>
</html>