<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/console.css"/>
        <link rel="stylesheet" type="text/css" href="/css/menu.css"/>
        <script>
            function switchItem() {
                var idSelector = document.getElementById("itemSelector");
                window.location.href = "/console/emitters/" + idSelector.options[idSelector.selectedIndex].value;
            }
        </script>
    </head>
    <body>
        <div th:replace="fragments:: header('Emitters')"/>
        <div class="desktop">
            <th:block th:if="${emitterId == null}">
                <div class="property">Pick an emitter from the list:
                    <select th:id="itemSelector" onchange="switchItem()">
                        <option></option>
                        <option th:each="emitter: ${emitters}" th:value="${emitter.id}"
                                th:text="|${emitter.name}|" />
                    </select>
                </div>
            </th:block>
            <th:block th:if="${emitterId != null}">
                <div class="section">
                    <div class="property">Emitter:
                        <select th:id="itemSelector" onchange="switchItem()">
                            <option th:each="emitter: ${emitters}" th:value="${emitter.id}"
                                    th:text="|${emitter.name}|" th:selected="${emitter.id.equals(emitterId)}" />
                        </select>
                    </div>
                    <div class="property">UUID: <span class="highlight">[[${emitter.id}]]</span></div>
                    <div class="property">Name: <span class="highlight">[[${emitter.name}]]</span></div>
                    <div class="property">Description: <span class="highlight">[[${emitter.description}]]</span></div>
                    <div class="property">From Thing: <span class="highlight">[[${emitter.ref}]]</span></div>
                    <div class="property"></div>
                </div>
                <div th:replace="fragments:: bindings(${senders}, ${listeners})"/>
            </th:block>
        </div>
    </body>
</html>