<th:block th:fragment="header(title)">
    <div class="header-title">[[${title}]]</div>
    <div class="menu-bar">
        <table class="menu">
            <tr>
                <td><a th:href="|/console|">Home</a></td>
                <td><a th:href="|/console/things|">Things</a></td>
                <td><a th:href="|/console/appliances|">Appliances</a></td>
                <td><a th:href="|/console/emitters|">Emitters</a></td>
                <td><a th:href="|/console/collectors|">Collectors</a></td>
                <td><a th:href="|/console/actuators|">Actuators</a></td>
            </tr>
        </table>
    </div>
</th:block>

<th:block th:fragment="formatOptional(optional)">[[${optional}? ${optional.get()} : '']]</th:block>

<th:block th:fragment="bindings(senders, listeners)">
    <div class="section">
        <table class="grid">
            <caption class="grid-title">Bound Senders</caption>
            <tr class="grid-header">
                <td>Name</td>
                <td>UUID</td>
                <td>Description</td>
            </tr>
            <tr th:each="sender: ${senders}" class="grid-row">
                <td>[[${sender.name}]]</td>
                <td>[[${sender.id}]]</td>
                <td>[[${sender.description}]]</td>
            </tr>
        </table>
    </div>
    <div class="section">
        <table class="grid">
            <caption class="grid-title">Bound Listeners</caption>
            <tr class="grid-header">
                <td>Name</td>
                <td>UUID</td>
                <td>Description</td>
            </tr>
            <tr th:each="listener: ${listeners}" class="grid-row">
                <td>[[${listener.name}]]</td>
                <td>[[${listener.id}]]</td>
                <td>[[${listener.description}]]</td>
            </tr>
        </table>
    </div>
</th:block>
