<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/console.css"/>
        <link rel="stylesheet" type="text/css" href="/css/menu.css"/>
    </head>
    <body>
        <div th:replace="fragments:: header('Home')"/>
        <div class="desktop">
            <div class="section">
                <table class="grid">
                    <caption class="grid-title">Plugins</caption>
                    <tr class="grid-header">
                        <td>Alias</td>
                        <td>Actuators</td>
                    </tr>
                    <tr th:each="plugin: ${plugins}" class="grid-row">
                        <td th:text="${plugin.alias}"/>
                        <td>
                            <div th:each="ref: ${plugin.actuators}">[[${ref}]]&nbsp;</div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="section">
                <table class="grid">
                    <caption class="grid-title">Things</caption>
                    <tr class="grid-header">
                        <td>Name</td>
                        <td>Id</td>
                        <td>Plugin</td>
                        <td>Actuators</td>
                        <td>Properties</td>
                    </tr>
                    <tr th:each="thing: ${things}" class="grid-row">
                        <td th:text="${thing.name}"/>
                        <td th:text="|${thing.uuid}|"/>
                        <td th:text="${thing.pluginAlias}"/>
                        <td>
                            <div th:each="actuator: ${thing.actuators}">[[${actuator.name}]] (of [[${actuator.ref}]])
                            </div>
                        </td>
                        <td>
                            <div th:each="parameter: ${thing.configurationMap}">[[${parameter.key}]]:
                                [[${parameter.value}]]
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="section">
                <table class="grid">
                    <caption class="grid-title">Appliances</caption>
                    <tr class="grid-header">
                        <td>Name</td>
                        <td>Id</td>
                        <td>Description</td>
                    </tr>
                    <tr th:each="appliance: ${appliances}" class="grid-row">
                        <td><a th:href="@{'/console/appliances/' + ${appliance.uuid}}">[[${appliance.name}]]</a></td>
                        <td th:text="${appliance.uuid}"/>
                        <td th:text="${appliance.description}"/>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>