<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/console.css"/>
        <link rel="stylesheet" type="text/css" href="/css/menu.css"/>
        <script>
            function switchThing() {
                var thingIdSel = document.getElementById("thingSelector");
                window.location.href = "/console/things/" + thingIdSel.options[thingIdSel.selectedIndex].value;
            }
        </script>
    </head>
    <body>
        <div th:replace="fragments:: header('Things')"/>
        <div class="desktop">
            <th:block th:if="${thingId == null}">
                <div class="property">Pick a thing from the list:
                    <select th:id="thingSelector" onchange="switchThing()">
                        <option></option>
                        <option th:each="thing: ${things}" th:value="${thing.id}" th:text="|${thing.name}|" />
                    </select>
                </div>
            </th:block>
            <th:block th:if="${thingId != null}">
                <div class="section">
                    <div class="property">Thing:
                        <select th:id="thingSelector" onchange="switchThing()">
                            <option th:each="thing: ${things}" th:value="${thing.id}"
                                    th:text="|${thing.name}|" th:selected="${thing.id.equals(thingId)}" />
                        </select>
                    </div>
                    <div class="property">UUID: <span class="highlight">[[${thing.id}]]</span></div>
                    <div class="property">Name: <span class="highlight">[[${thing.name}]]</span></div>
                    <div class="property">Description: <span class="highlight">[[${thing.description}]]</span></div>
                    <div class="property">From plugin: <span class="highlight">[[${thing.pluginAlias}]]</span></div>
                    <div class="property">&nbsp;</div>
                    <div class="section">
                        <table class="grid">
                            <caption class="grid-title">Properties</caption>
                            <tr class="grid-header">
                                <td>Property</td>
                                <td>Value</td>
                            </tr>
                            <tr th:each="parameter: ${thing.configurationMap}" class="grid-row">
                                <td>[[${parameter.key}]]</td>
                                <td>[[${parameter.value}]]</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="section">
                    <table class="grid">
                        <caption class="grid-title">Emitters</caption>
                        <tr class="grid-header">
                            <td>Name</td>
                            <td>UUID</td>
                            <td>Description</td>
                        </tr>
                        <tr th:each="emitter: ${thing.emitters}" class="grid-row">
                            <td><a th:href="@{'/console/emitters/' + ${emitter.id}}">[[${emitter.name}]]</a></td>
                            <td>[[${emitter.id}]]</td>
                            <td>[[${emitter.description}]]</td>
                        </tr>
                    </table>
                </div>
                <div class="section">
                    <table class="grid">
                        <caption class="grid-title">Collectors</caption>
                        <tr class="grid-header">
                            <td>Name</td>
                            <td>UUID</td>
                            <td>Description</td>
                        </tr>
                        <tr th:each="collector: ${thing.collectors}" class="grid-row">
                            <td><a th:href="@{'/console/collectors/' + ${collector.id}}">[[${collector.name}]]</a></td>
                            <td>[[${collector.id}]]</td>
                            <td>[[${collector.description}]]</td>
                        </tr>
                    </table>
                </div>
                <div class="section">
                    <table class="grid">
                        <caption class="grid-title">Actuators</caption>
                        <tr class="grid-header">
                            <td>Name</td>
                            <td>UUID</td>
                            <td>Description</td>
                        </tr>
                        <tr th:each="actuator: ${thing.actuators}" class="grid-row">
                            <td><a th:href="@{'/console/actuators/' + ${actuator.id}}">[[${actuator.name}]]</a></td>
                            <td>[[${actuator.id}]]</td>
                            <td>[[${actuator.description}]]</td>
                        </tr>
                    </table>
                </div>

            </th:block>
        </div>
    </body>
</html>